 @import "../variable";

 .contact-home-section2 {
     text-align: center;

     .main-title {
         max-width: 100%;
     }

     .main-desc {
         width: 100%;
     }

     .contact-form{
width: 75%;
margin: 0 auto;
     }
 }