
    .crm-pricing-section {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;

    
  .pricing-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  padding: 35px 25px;
  position: relative;
  transition: 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pricing-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}
.plan-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-align: center;
}
.plan-sub {
  color: #555;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center !important;
}
.ideal-for {
  color: #5b3be6;
  font-weight: 600;
  margin-bottom: 8px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul li {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
  color: #001214;
}
ul li i {
  font-size: 10px;
  margin-top: 6px;
}
.key-title {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 6px;
}
.price {
  font-size: 28px;
  font-weight: 700;
   margin-top: 10px;
}
.price span {
  font-size: 14px;
  color: #555;
}
.price-old {
  text-decoration: line-through;
  font-size: 14px;
  color: red;
  margin-left: 8px;
}
.support {
  font-size: 14px;
  color: #333;
  margin-top: 8px;

  p{
    padding-bottom: 0.5rem;
  }
}
.select-btn {
  background: #111;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  font-weight: 600;
  border-radius: 8px;
  margin-top: 15px;
}
.select-btn:hover {
  background: #5b3be6;
}
.badge-reco {
  position: absolute;
  top: -10px;
  right: 20px;
  background: #5b3be6;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 600;
}
.starter .plan-title { color: #007bff; }
.pro .plan-title { color: purple; }
.enterprise .plan-title { color: #f18d2b; }

    }
